<div id="<%= dom_id otro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= otro.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= otro.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">N1:</strong>
    <%= otro.n1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">N2:</strong>
    <%= otro.n2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= otro.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Empresa:</strong>
    <%= otro.empresa_id %>
  </p>

</div>
