<div id="<%= dom_id ald %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= ald.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= ald.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">N1:</strong>
    <%= ald.n1 %>
  </p>



  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= ald.total %>
  </p>



</div>
