



<div class="grid gap-4 mx-4 mb-4
            sm:grid-cols-1
            md:grid-cols-2
            lg:grid-cols-3">

  <% @notifications.each do |notification| %>
    <div class="p-4 border rounded-lg shadow-md <%= notification_class(notification.notification_type) %>" role="alert">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-6 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 1 1 0 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <h3 class="text-lg font-medium"><%= notification.title %></h3>
      </div>

      <div class="mt-2 mb-4 text-sm">
        <%= notification.text %>
      </div>

      <div>
        <%= link_to "Ver pendientes",
                    facturacions_path(notification_id: notification.id),
                    class: "inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-200" %>
      </div>
    </div>
  <% end %>
</div>





  <section>
    <% months_es = %w[Enero Febrero Marzo Abril Mayo Junio Julio Agosto
                  Septiembre Octubre Noviembre Diciembre] %>
    <% if @current_oxy %>


        <div class="mx-auto px-6 max-w-2xl text-gray-200">

              <div class="group overflow-hidden p-8 rounded-xl bg-gray-900 shadow-lg border border-gray-700 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                <div class="text-center">
                  <h3 class="text-xl font-semibold text-white">Convenio Oxy</h3>
                  <p class="text-sm text-gray-300 mt-2">Añade conductores</p>
                  <div class="mt-4">
                    <%= link_to oxy_path(@current_oxy),
                                class: "inline-block mb-6 bg-blue-600 hover:bg-blue-700
                      text-gray-900 font-bold py-2 px-4 rounded
                      focus:outline-none focus:shadow-outline" do %>
                      Ver Oxy <%= "#{months_es[@current_oxy.month - 1]} #{@current_oxy.year}" %>
                    <% end %>
                  </div>
                </div>
              </div>
        </div>

    <% else %>
      <div class="mb-6 text-black-800 text-xl">
        No existe un registro Oxy para <%= "#{months_es[Date.current.month - 1]} #{Date.current.year}" %>.
      </div>
      <div data-controller="oxy-alert"
           data-oxy-alert-message-value="No existe un registro Oxy para <strong><%= "#{months_es[Date.current.month - 1]} #{Date.current.year}" %></strong>."
           data-oxy-alert-new-url-value="<%= new_oxy_path %>">
      </div>
    <% end %>




    <div class="py-4"></div>

    <%= render template: "facturacions/index" %>

  </section>
